@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

:root {
  --pry-color: #003333;
  --sec-color: #373c58;
  --tert-color: rgb(153, 144, 144);
  --white-color: white;
  --deep-yellow: #ffcc00;
  --red-color: #ff0000;
}

body {
  font-family: 'rubik';
  background-color: var(--white-color);
  .column-container {
    display: flex;
    height: 100vh;

    .deep-yellow-toggle {
      color: var(--deep-yellow);
    }
  }

  //   .column-container > * {
  //     flex: 1 1 100%;
  //   }

  .col-one {
    width: 15%;
    display: grid;
    grid-template-rows: 0.5fr 10fr 0.5fr;
    .header {
      padding: 22px 30px;
      background-color: var(--pry-color);
      display: flex;
      gap: 10px;

      img {
        width: 20px;
      }

      h1 {
        font-size: 16px;
        font-weight: 600;
        color: var(--white-color);
      }
    }

    .tabs {
      height: 13em;
      ul {
        padding: 20px 30px;
        li {
          list-style: none;
          a {
            color: var(--tert-color);
            text-decoration: none;
            font-size: 13px;
            font-weight: 450;
            line-height: 60px;
          }
        }

        a:hover {
          color: var(--sed-color);
          transition: all ease-in 0.35s;
        }
        .notes {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .note-badge {
            background-color: var(--pry-color);
            color: var(--white-color);
            padding: 4px 10px;
            font-weight: 300;
            border-radius: 10px;
            font-size: 10px;
          }
        }
      }
    }

    .bottom {
      background-color: var(--pry-color);
      color: var(--white-color);
      display: flex;
      padding: 22px 30px;
      gap: 10px;
      border: none;
      img {
        height: 12px;
      }
      h4 {
        font-weight: 400;
        letter-spacing: 5px;
      }
    }
    .bottom:hover {
      cursor: pointer;
      background-color: #011818;
      transition: all ease-in-out 0.5s;
    }
  }

  ///////////////////////////////////////////////////

  .col-two {
    background-color: var(--white-color);
    width: 35%;
    border-right: 0.1px solid rgb(241, 238, 238);
    border-left: 0.1px solid rgb(241, 238, 238);

    .col-two-header {
      padding: 0 35px;
      justify-content: space-between;
      display: flex;
      align-items: center;
      // background-color: purple;

      input {
        letter-spacing: 1px;
        color: var(--tert-color);
        border: none;
        font-size: 12px;
        font-weight: 400;
        width: 20vw;
        height: 9vh;
      }

      img {
        height: 14px;
      }
      button {
        color: var(--tert-color);
        background-color: white;
        padding: 1em;
        border: none;
        font-size: 10px;
        cursor: pointer;
      }

      button:hover {
        color: var(--pry-color);
        transition: all ease-in 0.4s;
      }

      .col-two-header-left {
        display: flex;
        justify-content: space-between;
        // margin-right: 0.5em;
      }
      .col-two-header-right {
        display: flex;
        background-color: red;

        .sortStyle {
          border: none;
          color: var(--tert-color);
          font-size: 0.85em;
          cursor: pointer;
        }

        .sortStyle:hover {
          color: red;
          transition: all ease-in 0.4s;
        }
      }
    }

    .col-two-main {
      //   background-color: red;
      height: 91vh;
      overflow: auto;
    }

    .col-two-body {
      padding: 23px 35px;
      height: 158px;
      display: grid;
      border-bottom: 1px solid rgb(241, 238, 238);
      background-color: rgba(236, 240, 243, 0.281);
      position: relative;

      .col-two-body-top {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        color: var(--pry-color);
        .note-date {
          font-weight: 400;
          font-size: 10px;
          color: var(--tert-color);
        }
        .note-title {
          display: flex;
          height: 15px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .note-text {
        line-height: 18px;
        color: var(--sec-color);
        text-overflow: ellipsis;
        overflow: hidden;
        // background-color: red;
        white-space: nowrap;
      }
      .icons {
        display: flex;
        justify-content: right;
        h6 {
          font-weight: 500;
          color: var(--red-color);
          letter-spacing: 1px;
          margin-left: 10px;
          text-transform: uppercase;
        }

        .star-icon {
          height: 10px;
          display: flex;
        }
      }
    }

    .del-on-hover {
      color: red;
      background-color: rgb(242, 242, 243);
      position: absolute;
      right: 0px;
      height: 100%;
      align-items: center;
      padding: 20px;
      cursor: pointer;
      display: none;
    }

    .del-on-hover:hover {
      padding: 20px 50px;
      transition: all 0.5s ease-in-out;
    }

    .col-two-body:hover > .del-on-hover {
      display: flex;
    }

    .col-two-body > .del-on-hover {
      transform-origin: top center;
      animation: translationP 500ms 60ms ease-in-out forwards;
    }

    @keyframes translationP {
      0% {
        opacity: 0;
        transform: translateX(-60px);
      }

      50% {
        opacity: 0;
        transform: translateX(-20px);
      }
      // 100% {
      //   opacity: 0;
      //   transform: translateX(0px);
      // }
    }

    .col-two-body:hover {
      background-color: rgba(232, 227, 245, 0.658);
      cursor: pointer;
      transition: all ease-in 0.3s;
    }
  }

  .col-three {
    background-color: var(--white-color);
    width: 50%;
    display: grid;
    grid-template-rows: 0.5fr 10fr 0.5fr;

    .col-three-header {
      background-color: var(--white-color);
      padding: 25px 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        // background-color: red;
        display: flex;
        gap: 7px;
        background: none;
        border: none;
        color: var(--tert-color);
      }

      i {
        font-size: 10px;
      }

      button:hover {
        color: var(--pry-color);
        cursor: pointer;
        transition: all ease-out 0.35s;
      }

      h3 {
        letter-spacing: 1.5px;
        font-size: 10px;
      }

      .back-div:hover {
        color: red;
      }

      .right-but {
        display: flex;
        gap: 50px;

        #dropDownTag {
          border: none;
          background: gray;
          padding: 2px;
          color: white;
          border-radius: 2px;
          display: flex;
        }

        i {
          font-size: 12px;
        }
        .fa-trash:hover {
          color: var(--red-color);
          cursor: pointer;
          transition: all ease-out 0.35s;
        }

        .fa-star:hover {
          color: var(--deep-yellow);
          cursor: pointer;
          transition: all ease-out 0.35s;
        }
      }
    }
    .col-three-main {
      background-color: var(--white-color);
      padding: 0 45px;
      margin-top: 30px;
      color: var(--pry-color);

      .textareaInput {
        font-size: 18px;
        // margin-bottom: 1px;
        font-weight: 600;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        height: 45px;
        resize: none;

        // background-color: red;
      }
      ::placeholder {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgb(211, 200, 200);
      }

      h4 {
        font-weight: 400;
        font-size: 9px;
        color: var(--tert-color);
        letter-spacing: 1px;
        border-bottom: 1px solid rgb(238, 233, 233);
        padding-bottom: 30px;
        margin-bottom: 30px;
      }
      textarea {
        width: 100%;
        height: 400px;
        font-size: 13px;
        font-weight: 400;
        color: var(--pry-color);
        border: none;
        resize: none;
      }

      .col-three-note {
        ::placeholder {
          font-size: 10px;
          //   font-style: italic;
          text-transform: capitalize;
          font-weight: 400;
          color: rgb(211, 200, 200);
        }
      }
    }

    .caution-page {
      background-color: var(--white-color);
      position: absolute;
      height: 100vh;
      width: 50vw;
      //   padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      i {
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
      }
      h3 {
        width: 250px;
        text-align: center;
        font-weight: 400;
        color: gray;
        letter-spacing: 1px;
        line-height: 20px;
      }
    }
    .col-three-bottom {
      background-color: var(--pry-color);
      display: flex;
      justify-content: right;
      padding: 25px 45px;
      gap: 25px;
      color: var(--white-color);
      button {
        font-weight: 400;
        letter-spacing: 1.5px;
        border: none;
        background: none;
        color: var(--white-color);
      }

      button:hover {
        cursor: pointer;
        color: #16cfcf;
      }
    }
  }

  .hidden {
    display: none;
  }
}
